[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
redis = "*"
fastapi = "*"
uvicorn = "*"
beautifulsoup4 = "*"
rq = "*"
aiofiles = "*"

[requires]
python_version = "3.8"
